asgiref==3.3.4
backcall==0.2.0
boto3==1.17.82
botocore==1.20.82
chardet==4.0.0
decorator==5.0.9
dj-database-url==0.5.0
Django==3.2.3
django-crispy-forms==1.11.2
django-environ==0.4.5
django-heroku==0.3.1
djangorestframework==3.12.4
gunicorn==20.1.0
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
matplotlib-inline==0.1.2
numpy==1.20.3
pandas==1.2.4
parso==0.8.2
pdf2image==1.15.1
pdfminer.six==20200517
pdfplumber==0.5.28
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
ptyprocess==0.7.0
pycryptodome==3.10.1
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.4.2
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.5
Wand==0.6.6
wcwidth==0.2.5
whitenoise==5.2.0
